*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #ccc;
}

header:hover {
    background: rgba(255, 255, 255, 1);
}

.logo {
    flex: 1;
    cursor: pointer;
}

.menu {
    flex: 3;
    display: flex;
}

.menu > li {
    padding: 0 20px;
    position: relative;
}

.menu > li > a {
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
}

.sub-menu {
    position: absolute;
    min-width: 150px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px 5px 10px 20px;
    visibility: hidden;
    top: 70px;
    transition: 0.3s;
    z-index: 1;
    background-color: #fff;
}

.sub-menu > li > a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
}

.sub-menu ul li {
    font-size: 14px;
    line-height: 25px;
}

.menu > li:hover .sub-menu {
    visibility: visible;
    top: 45px;
}

.others {
    flex: 1;
    display: flex;
}

.others > li {
    padding: 0px 12px;
    position: relative;
}

.others input {
    padding-left: 6px;
}

/* .others > li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */

.others > li:first-child {
    position: relative;
    margin-top: -10px;
}

.others > li:first-child input {
    width: 200px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 2%;
    opacity: 0.6;
    background: transparent;
    outline: none;
}

/* .others > li:first-child i {
    position: absolute;
    width: 20%;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
} */

#slider {
    overflow: hidden;
}

.slider-container {
    display: block;
    position: relative;
    padding-top: 550px;
    transition: 0.4s;

}

.slider-container img {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 70px 32px;
}

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/*----------------contact----------------*/
.contact-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.app-google {
    margin: 50px;
}

.app-google img {
    height: 50px;
}

.app-google img:hover {
    cursor: pointer;
}

.contact-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.contact-container p:first-child {
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

.contact-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

/*----------------foot----------------*/
footer {
    text-align: center;
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
}

.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer-top li:last-child a:hover {
    color: #000;
}

.footer-bottom {
    padding: 12px;
    border: 1px solid #ccc;
}

/*----------------contents----------------*/
.contents{
    padding: 100px 0 0;
    margin: 0 40px;
}

.content-top {
    margin-bottom: 50px;
}

.content-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.content-left {
    width: 20%;
}

.content-right {
    width: 80%;
}


/*----------------------------content-right--------------------*/
.title-content {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}

.filter {
    flex: 1;
    padding: 0 12px;
}

.sort {
    flex: 1;
    padding: 0 12px;
    margin-right: -12px;
}

.content-right button {
    width: 100%;
    padding: 10px 15px;
    justify-content: space-between;
    display: flex;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.content-right select {
    width: 100%;
    padding: 10px 15px;
    justify-content: space-between;
    display: flex;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.main-content {
    margin-top: 20px;
    justify-content: space-between;

}

.main-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}

.main-item h1 {
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.main-item img {
    width: 100%;
}

.main-item p {
    font-size: 12px;
}

.page-number {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}

.page-number p {
    font-family: var(--main-text-font);
    font-size: 12px;
}

/*----------------------------content-left--------------------*/
.content-left ul li {
    padding: 12px 0;
}

.content-left ul li>a{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.content-left ul li ul li {
    padding-left: 10px;

}

.left-menu ul {
    display: none;
}

.left-menu.block ul {
    display: block;
}

.left-menu {
    display: block;
}

.content-left ul li ul li a {
    color: #333;
    font-size: 12px;
}

/*----------------------------product-img--------------------*/
.product {
    padding: 100px 0;
    margin: 0 40px;
}

.product-left {
    width: 50%;
}

.general-img {
    width: 80%;
    padding-right: 20px;
}

.general-img img {
    width: 100%;
    cursor: pointer;
}

.sub-img {
    width: 18.8%;
}

.sub-img img {
    width: 100%;
    cursor: pointer;
}

.product-right {
    width: 50%;
    padding-left: 20px;
}

/*----------------------------product--------------------*/
.product-name h1 {
    font-family: var(--main-text-font);
    font-size: 16px;
}

.product-name p {
    color: #ccc;
    font-size: 12px;
}

.product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}

.product-color img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.product-color-img {
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}

.quantity {
    display: flex;
    margin-bottom: 20px;
}

.quantity p:first-child {
    margin-right: 10px;
}

.quantity input {
    width: 35px;
    padding-left: 3px;
}

.purchase-button button {
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}

.purchase-button button:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}

.purchase-button button:first-child:hover {
    background-color: #000;
    color: #fff;
}

.purchase-button button:last-child {
    border: 2px solid #bf8349;
    color: #bf8349;
    background-color: #fff;
    cursor: pointer;
}

.purchase-button button:last-child:hover {
    background-color: #bf8349;
    color: #fff;
}

.product-contact {
    display: flex;
}

.product-contact-item {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}

.product-contact-item i {
    font-size: 12px;
    margin-right: 6px;
}

.product-info {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ddd;
    position: relative;
}

.product-info-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.product-info-title {
    border-bottom: 2px solid #ddd;

}

.info-item.activeC {
    border-bottom: 2px solid #000;
}

.info-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

.info-item-content {
    padding-top: 30px;
}

.info-item-content p {
    font-family: var(--main-text-font);
    font-size: 14px;
}

.info-item-content-chitiet {
    display: none;
    text-align: left;
    line-height: 25px;
}

.info-item-content-baoquan {
    display: none;
}

.activeB {
    display: none;
}

/*----------------------------product-relate--------------------*/
.product-relate {
    margin-bottom: 50px;
    /* margin-left: 35px;
    margin-right: 35px; */
}

.product-relate-title {
    margin: 20px 0;
}

.product-relate-title p {
    font-family: var(--main-text-font);
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.relate-content-item {
    width: 20%;
    text-align: center;
    padding: 0 6px;
    cursor: pointer;
}

.relate-content-item img {
    width: 100%;
}

.relate-content-item h1 {
    font-family: var(--main-text-font);
    font-size: 11px;
    color: #333;
    margin-top: 6px;
}

.relate-content-item p {
    font-size: 12px;
}

/*----------------------------cart--------------------*/
.cart {
    padding: 100px 0;
}

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 2px;
    width: 70%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cart-top-item i {
    color: #ddd;
}

.cart-top-cart {
    border: 1px solid #0db7ea;
}

.cart-top-cart i {
    color: #0db7ea;
}

.cart-content-left {
    flex: 2;
    padding-right: 12px;
}

.cart-content-left table {
    width: 100%;
    text-align: center;
}

.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;

}

.cart-content-left p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}

.cart-content-left table input {
    width: 30px;

}

.cart-content-left table span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}

.cart-content-left td:first-child img {
    width: 130px;
}

.cart-content-left td:nth-child(2) {
    max-width: 130px;
}

.cart-content-left td:nth-child(3) img{
    width: 30px;
}

.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #ddd;
}

.cart-content-right table {
    width: 100%;
}

.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}

.cart-content-right table td {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}

.cart-content-right tr:nth-child(4) td {
    border-bottom: 2px solid #ddd;
}

.cart-content-right tr td:last-child {
    text-align: right;
}

.cart-content-right-text {
    margin: 20px 0;
    text-align: center;

}

.cart-content-right-text p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;

}

.cart-content-right-button {
    text-align: center;
    justify-content: center;

}

.cart-content-right-button button {
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}

.cart-content-right-button button:first-child {
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}

.cart-content-right-button button:first-child:hover {
    background-color: #ddd;
}

.cart-content-right-button button:last-child {
    background-color: #000;
    color: #fff;
    border: 1px solid black;
}

.cart-content-right-button button:last-child:hover {
    background-color: #fff;
    color: #000;
}

.cart-content-right-login {
    margin-top: 20px;
}

.cart-content-right-login p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;font-weight: bold;

}

.cart-content-right-login p a {
    color: #bf8349;
}

.cart-content-right-login p a:hover {
    color: #0db7ea;
}

/*----------------------------delivery--------------------*/
.delivery {
    padding: 100px 0;
}

.delivery-top-addr {
    border: 1px solid #0db7ea;
}

.delivery-top-addr i {
    color: #0db7ea;
}

.delivery-content-left {
    width: 60%;
    padding-right: 12px;
}

.delivery-content-left p {
    font-family: var(--main-text-font);
    font-size: 12px;
}

.delivery-content-left label {
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}

.delivery-content-left > p {
    font-weight: bold;
}

.delivery-content-left-login {
    margin-top: 12px;
}

.delivery-content-left-login i {
    font-size: 12px;
    margin-right: 12px;
}

.delivery-content-left-guest {
    margin: 12px 0;
}

.delivery-content-left-guest input {
    margin-right: 12px;
}

.delivery-content-left-register {
    margin-bottom: 30px;
}

.delivery-content-left-register input {
    margin-right: 12px;
}

.delivery-content-left-input-top {
    justify-content: space-between;
}

.delivery-content-left-input-top-item {
    width: calc(50% - 12px);

}

.delivery-content-left-input-top-item input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
}

.delivery-content-left-input-top-item label {
    margin-top: 16px;
}

.delivery-content-left-input-bottom input {
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
}

.delivery-content-left-input-bottom label {
    margin-top: 16px;
}

.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}

.delivery-content-left-button p {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}

.delivery-content-left-button span {
    margin-right: 12px;
}

.delivery-content-left-button button {
    height: 35px;
    border: 2px solid #000;
    cursor: pointer;
    padding: 6px 12px;
    transition: all 0.3s ease;
}

.delivery-content-left-button button:hover {
    background-color: #000;
    color: #fff;
}

.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #ddd;
    height: auto;
}

.delivery-content-right table {
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}

.delivery-content-right table tr th:first-child {
    text-align: left;
}

.delivery-content-right table tr th {
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd;

}

.delivery-content-right table tr th:last-child {
    text-align: right;
}

.delivery-content-right table tr td {
    padding: 6px 0;
}

.delivery-content-right table tr:nth-child(4) {
    border-top: 2px solid #ddd;
}

.delivery-content-right table tr td:first-child {
    text-align: left;
}

.delivery-content-right table tr td:last-child {
    text-align: right;
}


/*----------------------------payment--------------------*/
.payment {
    padding: 100px 0;
}

.payment-top-paym {
    border: 1px solid #0db7ea;
}

.payment-top-paym i {
    color: #0db7ea;
}

.payment-content-left {
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 24px 0px;
    padding-left: 12px;
}

.payment-content-left p, label {
    font-size: 14px;
    font-family: var(--main-text-font);
}

.payment-content-left p:last-child {
    font-size: 12px;
    color: #6c6d70;
    padding-left: 12px;
}

.payment-content-left div {
    padding: 12px 0;
}

.payment-content-right {
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}

.payment-content-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #ddd;
}

.payment-content-right-button input {
    height: 30px;
    width: 200px;
    margin-left: 100px;
    margin-right: 12px;
}

.payment-content-right-button button {
    height: 30px;
    width: 100px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-content-right-mnv {
    margin-top: 20px;
}

.payment-content-right-mnv select {
    height: 30px;
    width: 100%;
    color: #75758a;
    padding-left: 12px;
}

.payment-content-purchase {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.payment-content-purchase button {
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    border: 2px solid #000;
    transition: all 0.3s ease;
}

.payment-content-purchase button:hover {
    background-color: #000;
    color: white;
}